body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  background-color: #f8f8f8; /* Light gray background */
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.logout-btn {
  text-decoration: none;
  color: #333; /* Dark gray text */
  background-color: #ffffff; /* White background */
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #333; /* Dark gray border */
}

.logout-btn:hover {
  background-color: #333; /* Dark gray background on hover */
  color: #ffffff; /* White text on hover */
}

.hero {
  position: relative;
  flex: 1;
  background-color: #e01a4f; /* Pink background */
  color: black;
  text-align: center;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center; /* Center align content */
  overflow: hidden; /* Hide overflow content */
}

.hero-content {
  position: relative;
  z-index: 1;
  animation: zoomInOut 5s infinite alternate; /* Apply animation */
}

.hero-content h1 {
  font-size: 4em;
  margin: 0;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.call-to-action {
  background-color: #ffffff; /* White background */
  color: #e01a4f; /* Pink text */
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 2px solid #ffffff; /* White border */
  text-decoration: none;
}

.call-to-action:hover {
  background-color: #e01a4f; /* Pink background on hover */
  color: #ffffff; /* White text on hover */
}

main {
  flex: 2;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; /* Center align content */
}

.menu-item {
  width: calc(20% - 30px); /* Adjust width */
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff; /* White background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 15px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.menu-item:hover {
  transform: scale(1.03);
}

.menu-item img {
  width: 70px; /* Adjust image width */
  height: 70px; /* Adjust image height */
  margin-bottom: 10px;
}

.menu-item p {
  font-size: 1em;
  color: #333; /* Dark gray text */
}

@keyframes zoomInOut {
  0% {
    transform: scale(1); /* Normal scale */
  }
  50% {
    transform: scale(1.1); /* Zoom in */
  }
  100% {
    transform: scale(1); /* Back to normal scale */
  }
}
